body {
  font-family: 'Poppins', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background: #f6f6f6;
  padding: 20px;
}

.input-container {
  display: flex;
  gap: 15px;
  align-items: center;
}

select {
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #e595d1;
  border-radius: 8px;
  background: white;
  cursor: pointer;
  min-width: 150px;
}

.reverse-btn {
  background: #e595d1;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.reverse-btn:hover {
  background: #b31f9a;
  transform: scale(1.1);
}

.check-btn {
  background: #e595d1;
  color: #ffffff;
  border: none;
  padding: 12px 30px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.check-btn:hover {
  background: #b31f9a;
  transform: scale(1.05);
}

#map {
  width: 1400px;
  height: 800px;
  border: 2px solid #333;
  position: relative;
  background: rgb(252, 233, 233);
}

.node {
  width: 140px;
  height: 30px;
  border-radius: 50%;
  background: #f5a6e2;
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: 0.3s;
}

.highlight {
  background: #dd2cbd !important;
  transform: scale(1.2);
}

svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 1400px;
  height: 800px;
  pointer-events: none;
}

#routeOutput {
  font-weight: bold;
  font-size: 18px;
  padding: 10px;
  color: #333;
}